*{box-sizing: border-box;}
form{
    width: 300px;
    padding: 20px;
    position: relative;
    top: 0;
    left: 0;
    border-radius: 20px;
    background: linear-gradient(#bd09b7 ,#6b4cf5 );
    box-shadow: 2px 2px 3px 1px black;
    color: white;
}
input{
    padding: 7px;
    width: 100%;
}
input[type=submit]{
    padding 15px 15px 5px 5px;
    right:0
}

